<div class="login-container">
  <header class="header">
    <div class="logo">LOGO</div>
  </header>

  <main class="main">
    <div class="left-side">
      <h2>Rezervă-ți locul la birou în câteva secunde!</h2>
      <p>
        Simplifică-ți zilele de lucru. Alege biroul dorit, vezi disponibilitatea
        în timp real și lucrează acolo unde ai nevoie.
      </p>
    </div>

    <div class="right-side">
      <div class="card">
        <h3>Autentificare</h3>

       <form (ngSubmit)="onLogin()">
  <label>Utilizator</label>
  <input type="email" name="email" required placeholder="nume@email.com" />

  <label>Parolă</label>
  <input type="password" name="password" required placeholder="Parola ta" />

  <button type="submit" class="btn-primary">Intră în cont</button>

  <a href="#" class="forgot">Ai uitat parola?</a>

  <div class="divider">
    <span>–––––––– Sau ––––––––</span>
  </div>

  <button type="button" class="btn-secondary" (click)="goToRegister()">Creează cont</button>
</form>
      </div>
    </div>
  </main>

  <footer class="footer">Footer</footer>
</div>
